@model IEnumerable<Ksiegarnia_MVC.Models.Book>

@{
    ViewData["Title"] = "Books List";
}

<h1>Lista książek</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<form>
    <p>
        <label for="searchString">Wyszukaj w tytule: </label>
        <input name="searchString" value="@ViewData["Searched"]" />
        <input type="submit" value="Szukaj" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Tytuł", "Index", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.ActionLink("Data_zakupu", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
